.hero-carousel {
  height: 500px;
  overflow: hidden;
  position: relative;
}

.carousel-background {
  width: 100%;
  height: 100%;
  background-size: cover;
  background-position: center;
  filter: brightness(40%); 
  transition: transform 0.2s ease-in-out; 
}

.hero-carousel .carousel-item {
  height: 450px;
  background: transparent;
}

.hero-carousel-caption {
  top: 50%;
  transform: translateY(-50%);
  bottom: auto;
  text-align: center;
  padding: 2rem;
  color: white;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7); 
}

.hero-carousel-caption h1 {
  font-weight: bold;
}

/* Responsif */
@media (max-width: 786px) {
  .hero-carousel,
  .hero-carousel .carousel-item {
    height: 400px;
  }
  .hero-carousel-caption h1 {
    font-size: 2rem;
  }
  .hero-carousel-caption p.lead {
    font-size: 1rem;
  }
}